<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Details</title>
</head>
<body>
    
<div>
    <h2>{{ course.course_name }}</h2>
    <p>Duration: {{ course.duration }} weeks</p>
    <p>Desc: {{ course.description }}</p>
        {% if course.course_image %}
        <img src="{{ course.course_image.url }}" alt="{{ course.course_name }}" height="150">
    {% else %}
        <p>No photo available</p>
    {% endif %}
</div>

        
</body>
</html>